{% extends "base_generic.html" %}
{% block title %}<title>Ventas</title>{% endblock %}

{% block content %}
{% load static %}
    <h2>Ventas:</h2>
    <h5>(pedidos finalizados)</h5>

    {% if messages %}
  <ul class="messages">
<!--  {% for message in messages %} -->
      <p style="color: red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
<!--  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
<!--  {% endfor %} -->
  </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-secondary">Filtrar</button>
  </form>

    {% if ventas.items %}
    <br>
    <ul class="list-group">
          {% for key, value in ventas.items %}
          <li class="list-group-item">
            TOTAL: {{value}} <b>Vendedor: </b>{{key}}
          </li>
          {% endfor %}
          <b>TOTAL= ${{ ttotal }}</b> 
    </ul>
    <br>
    {% else %}
        <br>
        <p>No hay datos para listar</p>
    {% endif %}
    <br>
{% endblock %}