{% extends "base_generic.html" %}
{% block title %}<title>Pedidos</title>{% endblock %}

{% block content %}
{% load static %}
    <h2>Pedidos:</h2>
    <a href="{% url 'appweb:addPed' %}" class="btn btn-primary">Agregar</a></p>
    {% if pedido_list %}
    <ul class="list-group">
        {% for pedido in pedido_list %}
        <li class="list-group-item">
            <a href="{% url 'appweb:editPed' pk=pedido.id%}" class="btn btn-primary">Editar</a> <a href="{% url 'appweb:verPed' pk=pedido.id%}" class="btn btn-primary">Ver</a>&nbsp;&nbsp;<u>Fecha:</u> {{ pedido.fecha }} &nbsp;&nbsp;&nbsp; <b>Paciente: </b>{{ pedido.paciente }} <b>Estado: </b>{{ pedido.estado }} <b>Total: </b>${{ pedido.total }}<br>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No hay datos para listar</p>
    {% endif %}
{% endblock %}
