{% extends "base_generic.html" %}
{% block title %}<title>Pedidos Taller</title>{% endblock %}

{% block content %}
{% load static %}
    <h2>Pedidos Taller:</h2>
    {% if pedido_list %}
    <ul class="list-group">
        {% for pedido in pedido_list %}
        <li class="list-group-item">
            <a href="{% url 'appweb:editPedT' pk=pedido.id %}" class="btn btn-primary">Editar</a> <a href="{% url 'appweb:verPedT' pk=pedido.id%}" class="btn btn-primary">&nbsp;Ver&nbsp;</a> <u>Fecha:</u> {{ pedido.fecha }} &nbsp;&nbsp; <b>Paciente: </b>{{ pedido.paciente }} <br>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No hay datos para listar</p>
    {% endif %}
{% endblock %}
